# Python
__pycache__/
*.py[cod]
*.class
*.db
*.sqlite3
venv/
.env

# Android
android/.gradle/
android/build/
android/app/build/
android/export_app/build/
android/captures/
android/.externalNativeBuild/
android/.cxx/
*.apk
*.aab

# IDE & OS
.idea/
.vscode/
Thumbs.db
Desktop.ini
